.navbar{
    position:fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.navbar li{
    display: inline-block;
    text-align: center;
    padding: 0px 60px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.banner{
    background-color:seagreen;
    color: beige;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
    position: static;
}

.dogSection{
    padding: 20px 0;
    background-color: beige;
}

#small-golden{
    height: 300px;
    width: 300px;
    filter: drop-shadow(5px 5px 5px black);
    position: static;
}

#DogBook{
    color:slateblue;
    font-size: 100px;
    text-align: center;
}

#greets ul{
    list-style-type: none;
}

#subscribe{
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

#randomDogBtn {
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}
.randomDogContainer {
    text-align: center; /* Centers inline elements (button) */
    margin: 20px 0; /* Adds space above and below */
    background-color: honeydew;
}

#randomDogBtn:hover {
    background-color: darkslateblue;
}

#randomDogImage {
    margin: 20px auto;
    text-align: center;
}
.avatar {
    background-image: url("../images/goldenRetriever.png");
    background-size:cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;

}
.bold{
    font-weight: 900;
}

a.blue{
    color:blue
}